<a href="https://colab.research.google.com/github/tanvikhadpe/LearningPython/blob/main/Functional_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **FUNCTIONAL PROGRAMMING:**
- A **pure function** is a function whose output value follows solely from its input values, without any obervable side effects.
- In functional programming, a program **consists entirely of evaluation of pure functions**.
- Computation **proceeds by nested or composed function calls**, without changes to state or mutable data.

### **Advantages of Functional Programming:**
1. **High-Level:** You're decribing the result you want rather than explicitly specifying the steps required to get there. Single statements tend to be concise but pack a lot of punch.
2. **Transparent:** The behavior of pure function depends only on its input and output, without intermediary values. That eleminates the possibility of side-effects, which facilitates debugging.
3. **Parallelizable:** Routines that don't cause side effects can more easily run in parallel with one another.

### **How well does Python support Functional Programming?**
To support FP, it's useful if  function in a programming language has 2 abilities:

***1. To take another function as an argument.***

- Everything in python is an object and all objects in python have more or less equal stature and functions are no exception.
- Functions are **first-class citizens**, i.e., functions have same characteristics as values like strings and numbers. Anything you would except to be able to do with a string or number you can do with a function as well.



>```
def func():
  print("I am function func()!")
print("cat", func, 42) # Output: cat <function func at 0x7f81b4d29bf8> 42
```

>```
objects = ["cat", func, 42]
objects[1] # Output: <function func at 0x7f81b4d29bf8>
objects[1]() # Output: I am function func()!
```
>```
d = {"cat": 1, func: 2, 42: 3}
d[func] # Output: 2
```
In this example, func() appears in all the same contexts as the values "cat" and 42, and the interpreter handles it just fine.


***2. FUNCTION COMPOSITION: To return another function to its caller.***

- You can pass a function to another to another function as an argument.
-

>```
def inner():
  print('I am function inner!')
```
>```
def outer(function):
  function()
```
>```
outer(inner) # Output: I am function inner!
```

# **IMPORTANT BUILT-IN FUNCTIONS:**

### **1. Lambda or Anonymous Function:**
- A **function which have no name** is called lambda.
- Normally, we use **def** keyword to **define normal function** in python.
- And **lambda** keyword for **creating lambda/anonymous function**.
- SYNTAX: **lambda argument: expression**

```
f = lambda a: a*a

f: function object that accepts and stores the result of the expression.
a: argument
a*a: one-line expression
```

In [ ]:
square = lambda x: x**2
print(square(5))

sum = lambda x, y: x+y
print(sum(3, 9))

25
12


### **2. map() Function:**
- map() is a function which takes 2 arguments:
- First argument is the name of a function and second a sequence (e.g., a list).
- Before Python 3, map() used to return a list, where each element of the result list was the result of the fucntion applied on the corresponding element if the list or tuple.
- With Python 3, map() returns an iterator.

In [ ]:
def farenheit(t):
  return ((float(9/5)*t + 32))

def celcius(t):
  return (float(5)/9)*(t-32)

temperatures = (36.5, 37, 37.5, 38, 39)
F = map(farenheit, temperatures)
C = map(celcius, F)

temp_in_farh = list(map(farenheit, temperatures))
temp_in_celc = list(map(celcius, temp_in_farh))

print("F:", temp_in_farh)
print("C", temp_in_celc)

F: [97.7, 98.60000000000001, 99.5, 100.4, 102.2]
C [36.5, 37.00000000000001, 37.5, 38.00000000000001, 39.0]

In [ ]:
C = [39.2, 36.5, 37.3, 38, 37.8]
F = list(map(lambda x: (float(9)/5)*x + 32, C))
print(F)

[102.56, 97.7, 99.14, 100.4, 100.03999999999999]

In [ ]:
C = list(map(lambda x: (float(5)/9)*(x-32), F))
print(C)

[39.2, 36.5, 37.300000000000004, 38.00000000000001, 37.8]

In [ ]:
a = [1, 2, 3, 4]
b = [17, 12, 11, 10]
c = [-1, -4, 5, 9]

print(list(map(lambda x,y,z: x+y+z, a,b,c)))
print(list(map(lambda x,y: x+y, a,b)))
print(list(map(lambda x,y,z: 2.5*x + 2*y -z, a,b,c)))

[17, 10, 19, 23]
[18, 14, 14, 14]
[37.5, 33.0, 24.5, 21.0]

### **3. filter() Function:**
- Offers an elegant way to filter out all the elements of a sequence, for which the function returns True.
- An item will be produced by the iterator result of filter(function, sequence) if item is included in the sequence and if function returns True.
- In other words, the function filter(f,l) needs a function f as its first argument.
- f has to return a boolean value, i.e., either True or False.
- This function will be applied to every element of the list l.
- Only if f returns True will the element be produced by the iterator, which is the return value of filter(function, sequence).

In [ ]:
#  Filter out first the odd and then the even elements of the sequence of the first 11 Fibonacci numbers:
fibonacci = [0,1,1,2,3,5,8,13,21,34,55]
odd_numbers = list(filter(lambda x: x%2, fibonacci)) # returns 1 if odd and 0 if even
print("Odd Fibonacci Numbers:", odd_numbers)

even_numbers = list(filter(lambda x: x%2 == 0, fibonacci))
print("Even Fibonacci Numbers:", even_numbers)

Odd Fibonacci Numbers: [1, 1, 3, 5, 13, 21, 55]
Even Fibonacci Numbers: [0, 2, 8, 34]


### **4. reduce() Function:**
- Continually applies the function func() to the sequence seq.
- It returns a single value.
- It is used to apply a particular fucntion passed in its argument to all of the list elements.
- This function is defined in the 'functools' module and must be imported before use.
- The function reduces the iterable to a single value.


```
import functools
functools.reduce(lambda function)
```

```
from functools import reduce
reduce(lambda function)
```

#### Determining the **maximum of a list** of numerical values by **using reduce**

In [ ]:
from functools import reduce

f = lambda a,b: a if a > b else b
reduce(f, [47,11,42,102,13])

102

#### Calculating the **sum** of the numbers from **1 to 100** by **using reduce**:

In [ ]:
reduce(lambda x,y: x+y, range(1,101))

5050

#### Calculate the **product (the factorial)** from **1 to a number**, but **do not choose 100**.

In [ ]:
reduce(lambda x,y: x*y, range(1, 49))

12413915592536072670862289047373375038521486354677760000000000

#### If you are into lottery, here are the **chances to win a 6 out of 49 drawing**:

In [ ]:
reduce(lambda x, y: x*y, range(44,50))/reduce(lambda x, y: x*y, range(1,7))

13983816.0

#### **Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:**

![image.png]()

#### Write a Python program **using lambda and map**, which **returns a list with 2-tuples**. Each tuple consists of the order number and the product of the price per items and the quantity. The **product should be increased by 10 €** if the value of the order is **smaller than 100,00 €**.

In [ ]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95],
           ["98762", "Programming Python, Mark Lutz", 5, 56.80],
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 	3, 24.99] ]

min_order = 100
invoice_totals = list(map(lambda x: x if x[1] >= min_order else (x[0], x[1] + 10), map(lambda x: (x[0],x[2] * x[3]), orders)))
print(invoice_totals)

[('34587', 163.8), ('98762', 284.0), ('77226', 108.85000000000001), ('88112', 84.97)]

####  The same bookshop, but this time we work on a different list. The **sublists of our lists** look like this: **[ordernumber, (article number, quantity, price per unit), ... (article number, quantity, price per unit) ]**. Write a program which returns **a list of two tuples with (order number, total amount of order)**.

In [ ]:
orders = [ [1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)],
           [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
           [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

min_order = 100
invoice_totals = list(map(lambda x: [x[0]] + list(map(lambda y: y[1]*y[2], x[1:])), orders))
invoice_totals = list(map(lambda x: [x[0]] + [reduce(lambda a, b: a+b, x[1:])], invoice_totals))
invoice_totals = list(map(lambda x: x if x[1] >= min_order else (x[0], x[1] + 10), invoice_totals))
print (invoice_totals)

[[1, 678.3299999999999], [2, 494.46000000000004], [3, 364.79999999999995], [4, 492.57]]

#### Suppose a **dictionary** contains **type** of pet (cat, dog, etc.), **name** of pet and **age** of pet. Write a program that **obtains the average of all dog's ages**.

In [ ]:
dct = {
    'A101': {'Type': 'Cat', 'Name': 'Boku', 'Age':2},
    'A102': {'Type': 'Dog', 'Name': 'Moku', 'Age':3},
    'A103': {'Type': 'Cat', 'Name': 'Momo', 'Age':1},
    'A104': {'Type': 'Dog', 'Name': 'Nono', 'Age':4},
}

def age(d):
  if d['Type'] == 'Dog':
    return d['Age']
  else:
    return 0

def func(n):
  if n == 0:
    return False
  else:
    return True

lst2 = list(filter(func, list(map(age, list(dct.values())))))
print('The sum of ages of all dogs:', sum(lst2))

The sum of ages of all dogs: 7

#### Consider the following list: `lst = [1.25, 3.22, 4.68, 10.95, 32.55, 12.54]`. Write a program to **obtain a list of areas** of these circles **rounded off to two decimal places**.

In [ ]:
lst = [1.25, 3.22, 4.68, 10.95, 32.55, 12.54]
area_list = list(map(lambda n: round(n*n*3.14, 2), lst))
print(area_list)

[4.91, 32.56, 68.77, 376.49, 3326.84, 493.77]

#### Consider the lists:
```
nums = [10, 20, 30, 40, 50, 60, 70, 80]
strs = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
```
#### Write a program to obtain a list of tuples, where each tuple contains a **number from one list and a string from another**, in the **same order** in which they appear in the original lists.

In [ ]:
nums = [10, 20, 30, 40, 50, 60, 70, 80]
strs = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

combines_list = list(map(lambda x, y: (x,y), nums, strs))
print(combines_list)

[(10, 'A'), (20, 'B'), (30, 'C'), (40, 'D'), (50, 'E'), (60, 'F'), (70, 'G'), (80, 'H')]

#### Suppose a dictionary contains names of students and marks obtained by them in an examination. Write a program to obtain a **list of students** who obtained **more than 40 marks** in the examination.

In [ ]:
students = {
    'Tanjiro': 55, 'Nezuko': 53, 'Zenitsu': 45,
    'Inosuke':39, 'Dipti' : 55, 'Smriti' :12,
    'Subodh' : 45, 'Meenal' : 33, 'Harsha' : 40
}
lst = filter(lambda x: x[1] >= 40, students.items())
print(list(lst))

[('Tanjiro', 55), ('Nezuko', 53), ('Zenitsu', 45), ('Dipti', 55), ('Subodh', 45), ('Harsha', 40)]

#### Consider the following list: `lst = ['malayalam', 'Drawing', 'madamIamadam', '1234321']`. Write a program to print out those strings which are palidromes.

In [ ]:
lst = ['malayalam', 'Drawing', 'madamIamadam', '1234321']
lst1 = list(filter(lambda x: x == x[::-1],lst))
print(lst1)
lst2 = list(filter(lambda x: x == ''.join(reversed(x)), lst))
print(lst2)

['malayalam', '1234321']
['malayalam', '1234321']

#### A list contains names of employees. Write a program to **filter** out those names whose **length is more than 8 characters**.

In [ ]:
names = ["Alexander", "Ben", "Catherine", "David", "Elizabeth", "Frank", "George", "Hannah", "Isabella", "Jack"]
short_names = filter(lambda name: len(name) <= 8, names)
print(list(short_names))

['Ben', 'David', 'Frank', 'George', 'Hannah', 'Isabella', 'Jack']

#### A dictionary contains following information about 5 employees: First name, Last name, Age, Grade (Skilled, Semi-skilled, Highly-skilled). Write a program to **obtain a list of employees (first name + last name) who are Highly-skilled**.

In [3]:
employees = {
  'Dinesh' : {'last_name' : 'Sahare', 'age' : 30, 'Grade' : 'Skilled'},
  'Ram' : {'last_name' : 'Jog', 'age' : 35, 'Grade' : 'Semi-Skilled'},
  'S.' : {'last_name' : 'Sam', 'age' : 25, 'Grade' : 'Highly-Skilled'},
  'Adi' : {'last_name' : 'Lim', 'age' : 25, 'Grade' : 'Highly-Skilled'},
  'Ann' : {'last_name' : 'Mir', 'age' : 25, 'Grade' : 'Highly-Skilled'}
}

lst = filter(lambda x: x[1]['Grade'] == 'Highly-Skilled', employees.items())
print(list(lst))

[('S.', {'last_name': 'Sam', 'age': 25, 'Grade': 'Highly-Skilled'}), ('Adi', {'last_name': 'Lim', 'age': 25, 'Grade': 'Highly-Skilled'}), ('Ann', {'last_name': 'Mir', 'age': 25, 'Grade': 'Highly-Skilled'})]

### Consider the following list:

```
lst = ['Benevolent', 'Dictator', 'For', 'Life']
```

### Write a program to **obtain a string 'Benevolent Dictator For Life'.**

In [5]:
lst = ['Benevolent', 'Dictator', 'For', 'Life']
s = ' '.join(map(str,lst))
print(s)

Benevolent Dictator For Life

### Write a program to obtain a list in which all the **names are converted to uppercase.**

In [8]:
names = ['Rahul', 'Priya', 'Chaya', 'Narendra', 'Prashant']
lst1 = map(lambda x: x.upper(), names)
print(list(lst1))

['RAHUL', 'PRIYA', 'CHAYA', 'NARENDRA', 'PRASHANT']